html, body {
    overscroll-behavior-y: none;
}

body {
    background-color: #07120C;
    font-family: Consolas, "Courier New", monospace;
    color: #A9E8B7;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    transform: translateY(-8vh);
}

h1, h2 {
    margin: 10px 0;
    color: #D8FFE1;
}
