html, body {
    overscroll-behavior-y: none;
}

body {
    background-color: #E9EDF1;
    font-family: "Times New Roman", Times, serif;
    color: #26323D;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
    transform: translateY(-8vh);
}

h1, h2 {
    margin: 10px 0;
    color: #17212A;
}
