html {
    color-scheme: light;
}

body, div#main {
    background-color: #F5EAE1;
    color: #4C3528;
    font-family: sans-serif;
}

a {
    color: #A34F27;
}

a:focus, a:hover {
    color: #793719;
}

header {
    background-color: #E9D1C1 !important;
    border-bottom-color: #BE9A84;
    color: #352217;
}

header h1 {
    text-shadow: -1px -1px 0 #FFF9F4, 1px -1px 0 #FFF9F4, -1px 1px 0 #FFF9F4, 1px 1px 0 #FFF9F4;
}

header .hnd-toggle .icon-bar {
    background-color: #7E685C;
}

header .hnd-toggle.active, header .hnd-toggle:active, header .hnd-toggle.focus, header .hnd-toggle:focus, header .hnd-toggle:active:focus, header .hnd-toggle:hover {
    background-color: #F1DDCF;
    border-color: #A4775D;
}

header .hnd-toggle.active .icon-bar, header .hnd-toggle:active .icon-bar, header .hnd-toggle.focus .icon-bar, header .hnd-toggle:focus .icon-bar, header .hnd-toggle:active:focus .icon-bar, header .hnd-toggle:hover .icon-bar {
    background-color: #A34F27;
}

nav {
    background-color: #E5D6CC;
}

nav .tab-tabs {
    background-image: linear-gradient(to right, #A4775D, #E9D1C1) !important;
    border-bottom-color: #BE9A84;
}

nav .tab-tabs .hnd-toggle {
    background-color: #F1DDCF;
    border-color: #BE9A84;
    border-radius: 0;
    color: #4C3528;
}

nav .tab-tabs .hnd-toggle.active, nav .tab-tabs .hnd-toggle:active, nav .tab-tabs .hnd-toggle.focus, nav .tab-tabs .hnd-toggle:focus, nav .tab-tabs .hnd-toggle:active:focus, nav .tab-tabs .hnd-toggle:hover {
    background-color: #E5C7B4;
    border-color: #A4775D;
    color: #A34F27;
}

nav .tab-tabs > li > a, nav .tab-tabs > li.active > a, nav .tab-tabs > li.active > a:focus, nav .tab-tabs > li.active > a:hover, .jstree .jstree-anchor {
    color: #4C3528;
}

nav .tab-tabs > li.active > a, nav .tab-tabs > li > a:focus, nav .tab-tabs > li > a:hover, nav .tab-tabs > li.active > a:focus, nav .tab-tabs > li.active > a:hover {
    background-color: #F1DDCF;
    color: #A34F27;
}

nav .tab-tabs > li.tab::after {
    background: #A34F27;
}

nav #search-info {
    border-left-color: #7E685C;
    color: #4C3528;
}

.jstree .jstree-node .jstree-clicked {
    background-color: #E9D1C1;
    border-color: #BE9A84;
    border-radius: 0;
}

.jstree .jstree-node .jstree-hovered {
    background-color: #E5C7B4;
    border-color: #A4775D;
    border-radius: 0;
}

.jstree .jstree-node.jstree-closed > .jstree-icon.jstree-ocl:before, .jstree .jstree-node.jstree-open > .jstree-icon.jstree-ocl:before {
    color: #4C3528;
}

.jstree .jstree-node.jstree-closed > .jstree-icon.jstree-ocl:hover:before, .jstree .jstree-node.jstree-open > .jstree-icon.jstree-ocl:hover:before {
    color: #A34F27;
}

div#main > article .navigation {
    border-bottom-color: #E9D1C1;
}

div#main > article .navigation .breadcrumb > li::after {
    color: #7E685C;
}

div#main > article .navigation .nav-arrows a, div#main > article .navigation .nav-arrows button {
    color: #4C3528;
}

div#main > article .navigation .nav-arrows a:hover, div#main > article .navigation .nav-arrows a:focus:hover, div#main > article .navigation .nav-arrows button:hover, div#main > article .navigation .nav-arrows button:focus:hover {
    color: #A34F27;
}

.form-control, .btn-default, .dropdown-menu, .select-like-btn, .modal-content {
    background-color: #FFF9F4;
    border-color: #BE9A84;
    border-radius: 0;
    border-width: 1px;
    color: #4C3528;
}

.btn-default, .select-like-btn {
    padding: 4px 6px;
}

.btn-default:focus, .btn-default:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .select-like-btn:focus, .select-like-btn:hover {
    background-color: #E5C7B4;
    border-color: #A4775D;
    color: #352217;
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 3px 10px rgba(93, 52, 29, 0.18);
}

.dropdown-menu > li > a, .close {
    color: #4C3528;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 3px 10px rgba(93, 52, 29, 0.18);
}

.modal-header, .modal-footer {
    border-color: #BE9A84;
}

.btn-primary {
    background-color: #A34F27;
    border-color: #A4775D;
}

div#main > article mark {
    background-color: #E6D978;
    color: #28351C;
}

.thumb {
    background: #E5D6CC;
    border-radius: 0;
    box-shadow: 0 3px 10px rgba(93, 52, 29, 0.18);
}

.internal {
    background: #D6B26D;
    background-image: repeating-linear-gradient(45deg, #C68A34, #C68A34 10px, transparent 1px, transparent 20px);
}

.private {
    background: #DDD09C;
}

.public {
    background: #A9D0B4;
}

.thumb .overlay-text {
    color: #352217;
    text-shadow: -1px -1px 0 #FFF9F4, 1px -1px 0 #FFF9F4, -1px 1px 0 #FFF9F4, 1px 1px 0 #FFF9F4;
}

table.film-metadata, table.film-metadata td, table.film-metadata th {
    border-color: #BE9A84;
    border-width: 1px;
}

table.film-metadata td, table.film-metadata th {
    padding: 3px 6px;
}

table.film-metadata th {
    background-color: #E9D1C1;
    color: #352217;
}

#hnd-splitter:hover {
    background-color: #A4775D;
}
/* Film gallery toolbar coherence. */
div#main > article .navigation .breadcrumb .select-like-btn, div#main > article .navigation .breadcrumb .btn-default {
    height: 30px;
}
div#main > article .navigation .breadcrumb .open > .dropdown-toggle.btn-default, div#main > article .navigation .breadcrumb .open > .dropdown-toggle.btn-default:focus, div#main > article .navigation .breadcrumb .open > .dropdown-toggle.btn-default:hover {
    background-color: #E5C7B4;
    border-color: #A4775D;
    color: #352217;
}/* End film gallery toolbar coherence. */
/* Film gallery cell coherence. */
.thumb {
    border: 1px solid #BE9A84;
}/* End film gallery cell coherence. */

#camera-image img {
	content: url("../gfx/camera-copper.png") !important;
}
